http:
    middlewares:
        authelia:
            forwardAuth:
                address: http://authelia:9091/api/verify?rd=https://auth.yourdomain.com
                authResponseHeaders:
                    - Remote-User
                    - Remote-Groups
                    - Remote-Name
                    - Remote-Email
                trustForwardHeader: true
        authentik:
            forwardAuth:
                address: http://authentik:9000/outpost.goauthentik.io/auth/traefik
                authResponseHeaders:
                    - X-authentik-username
                    - X-authentik-groups
                    - X-authentik-email
                    - X-authentik-name
                    - X-authentik-uid
                trustForwardHeader: true
        basic-auth:
            basicAuth:
                users:
                    - admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/
        headers-standard:
            headers:
                accessControlAllowMethods:
                    - GET
                    - OPTIONS
                    - PUT
                browserXssFilter: true
                contentTypeNosniff: true
                customFrameOptionsValue: SAMEORIGIN
                customResponseHeaders:
                    X-Forwarded-Proto: https
                    X-Robots-Tag: none,noarchive,nosnippet,notranslate,noimageindex
                    server: ""
                forceSTSHeader: true
                hostsProxyHeaders:
                    - X-Forwarded-Host
                permissionsPolicy: camera=(), microphone=(), geolocation=(), payment=(), usb=(), vr=()
                referrerPolicy: same-origin
                sslProxyHeaders:
                    X-Forwarded-Proto: https
                stsIncludeSubdomains: true
                stsPreload: true
                stsSeconds: 6.3072e+07
        ip-whitelist:
            ipWhiteList:
                sourceRange:
                    - 127.0.0.1/32
                    - 192.168.1.0/24
                    - 10.0.0.0/8
        jwt-auth:
            forwardAuth:
                address: http://jwt-auth:8080/verify
                authResponseHeaders:
                    - X-JWT-Sub
                    - X-JWT-Name
                    - X-JWT-Email
                trustForwardHeader: true
        nextcloud-dav:
            replacepathregex:
                regex: ^/.well-known/ca(l|rd)dav
                replacement: /remote.php/dav/
        rate-limit:
            rateLimit:
                average: 100
                burst: 50
        security-chain:
            chain:
                middlewares:
                    - rate-limit@file
                    - ip-whitelist@file
    routers:
        1-router-auth:
            entryPoints:
                - websecure
            middlewares:
                - headers-standard@file
                - badger@http
            priority: 100
            rule: Host(`hass.nasflix.org`)
            service: 1-service@http
            tls:
                certResolver: letsencrypt
        3-router-auth:
            entryPoints:
                - websecure
            middlewares:
                - headers-standard@file
                - badger@http
            priority: 100
            rule: Host(`crafty.nasflix.org`)
            service: 3-service@http
            tls:
                certResolver: letsencrypt
        4-router-auth:
            entryPoints:
                - websecure
            middlewares:
                - headers-standard@file
                - badger@http
            priority: 100
            rule: Host(`kuma.nasflix.org`)
            service: 4-service@http
            tls:
                certResolver: letsencrypt
        10-router-auth:
            entryPoints:
                - websecure
            middlewares:
                - headers-standard@file
                - badger@http
            priority: 100
            rule: Host(`plex.nasflix.org`)
            service: 10-service@http
            tls:
                certResolver: letsencrypt
        13-router-auth:
            entryPoints:
                - websecure
            middlewares:
                - headers-standard@file
                - badger@http
            priority: 100
            rule: Host(`overseerr.nasflix.org`)
            service: 13-service@http
            tls:
                certResolver: letsencrypt
